.text_my_input_first{
  outline: none;
  color: #828282;
  margin-left: 1rem;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  max-width: 93%;
  width: 93%;
  min-height: 22.87%;
  /* border: 1px solid #e0e5ed; */
  background-color: #fff;
  border-radius: 0;
  font-weight: 500;
  font-size: 13px;
  border: 1px #aaaaaa solid;
}
.text_my_input {
  outline: none;
  color: #828282;
  margin-left: 1rem;
  margin-top: 0.5rem;
  /* margin-bottom: 1rem; */
  max-width: 93%;
  width: 93%;
  min-height: 22.87%;
  /* border: 1px solid #e0e5ed; */
  background-color: #fff;
  border-radius: 0;
  font-weight: 500;
  font-size: 13px;
  border: 1px #aaaaaa solid;
}
.text_col {
	/* overflow: auto; */
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
	vertical-align: center;
	width: 100%;
	max-width: 93%;
	min-height: 156px;
	position: relative;
	resize: none;
}

.form_my_button{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
	  padding: 20px 40px;
    border-radius: 0;
    background-color: #711717;
	  border-radius:0;
	  color:#fff;
    margin-bottom: 1rem;
    margin-left:1rem;
}
.form_my_button:hover{
    background: #202020;
    color: #fff;
}
@media screen and (max-width: 480px) {
.text_my_input{

}
.text_col{
  min-height: 86px;
}
}
