<ul class="contact_main">
  <li style="font-family:Verdana, Geneva, sans-serif;"> <i class="fa fa-map-marker"></i>   التعاون، الدائري الشمالي ، حي، الرياض 12477</li>
  <li style="font-family:Verdana, Geneva, sans-serif;"> <i class="fa fa-phone"></i>  71 11 011 050 </li>
  <li style="font-family:Verdana, Geneva, sans-serif;"> <i class="fa fa-mobile"></i> 12 77 00 920 </li>
  <!-- <li style="font-family:Verdana, Geneva, sans-serif;"><i class="fa fa-fax"></i> 0146610202</li> -->
  <li style="font-family:Verdana, Geneva, sans-serif;"> <i class="fa fa-inbox"></i> At Taawun, الدائري الشمالي ، حي، Riyadh 12477, Саудовская Аравия </li>
  <li style="font-family:Verdana, Geneva, sans-serif;">  <i class="fa fa-envelope"></i> mail@mail.com  </li>
  <li style="font-family:Verdana, Geneva, sans-serif;">  <i class="fa fa-home"></i> saudialaw.com   </li>
</ul>
