<footer class="footer" id="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xl-5 d-none d-lg-block d-xl-block">
          <div id="map" >
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.4425795818656!2d46.692213315001275!3d24.780294284091827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efd19fbd9579f%3A0xed0a4573d6445479!2sA+J+Alkhaldi+Law+Firm!5e0!3m2!1sru!2sua!4v1537433083190" width="480" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class=" col-lg-7 col-md-8 col-sm-12 col-xl-7 text-center">
          <div class="row">

            <!-- <div class="text-white"> -->
              <div class="col-md-offset-4 col-lg-4 col-md-8 col-xs-4 col-sm-12 mr-4 ml-5 mt-2 md-mt-1 ">
                  <h5 class="text-center">روابط اضافية</h5>
                <div class="links revers">
                  <ul class="text-right">
                    <li  class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#advantages">تعرف علينا</a></li>
                    <li  class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="#form">الانظمة بالمملكة</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#description">هدفنا</a></li>
                    <li  class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="{% url 'news' %}">اخبار القضاء</a></li>
                    <li  class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'usluga' 1 %}">رسالتنا</a></li>
                    <li  class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="{% url 'page' 'jobs' %}">سوابق قضائية</a></li>
                    <li  class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'page' 'info' %}">رؤيتنا</a></li>
                    <li  class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'contact' %}">رأى قضائى</a></li>
                    <!-- <li  class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="http://nasserlaw.org/?cat=61">خدماتنا</a></li> -->
                    <!-- <li  class="menu-item menu-item-type-custom menu-item-object-custom "><a href="http://nasserlaw.org/?post_type=gallery">صور ارشيفية</a></li> -->
                    <!-- <li  class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://nasserlaw.org/?page_id=489">التوظيف</a></li> -->
                    <!-- <li  class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="http://nasserlaw.org/?cat=67">اخبارنا</a></li> -->
                    <!-- <li  class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://nasserlaw.org/?page_id=333">اتصل بنا</a></li> -->
                  </ul>
               </div>
              </div>
            <!-- </div> -->

            <div class="col-md-offset-4 col-lg-4 col-md-8 col-sm-12 col-xs-4 mt-2 mr-3 ">

                <h5 class="text-center">عنوان الروابط</h5>
                  <div class="contact_side">
                    <ul class="contact_main color_footer">
                      <li style="font-family:Verdana, Geneva, sans-serif;"> <i class="fa fa-map-marker"></i>   التعاون، الدائري الشمالي ، حي، الرياض 12477</li>
                      <li style="font-family:Verdana, Geneva, sans-serif;"> <i class="fa fa-phone"></i>  +966 50 011 1171 </li>
                      <li style="font-family:Verdana, Geneva, sans-serif;"> <i class="fa fa-mobile"></i> 123 456 7890 </li>
                      <!-- <li style="font-family:Verdana, Geneva, sans-serif;"><i class="fa fa-fax"></i> 0146610202</li> -->
                      <li style="font-family:Verdana, Geneva, sans-serif;"> <i class="fa fa-inbox"></i> At Taawun, الدائري الشمالي ، حي، Riyadh 12477, Саудовская Аравия </li>
                      <li style="font-family:Verdana, Geneva, sans-serif;">  <i class="fa fa-envelope"></i> mail@mail.com  </li>
                      <li style="font-family:Verdana, Geneva, sans-serif;">  <i class="fa fa-home"></i> saudialaw.com   </li>
                    </ul>
                  </div>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<section id="copy" class="py-4 bg-white text-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
                      {{ mp_9.item_1}}
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          {{ mp_9.item_2}}
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          {{ mp_9.item_3}}
        </div>
      </div>
    </div>
</section>
