<footer class="py-5 footer-text">

  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div id="map"></div>
      </div>

      <div class="col-3 col-sm-3 pr-3 col-md-3 col-lg-4">
        <div class="text-white">
          <h5 class="list-title text-right">عنوان الروابط</h5>
          <ul class="footer-list contact_main">
            <li class="add">التعاون، الدائري الشمالي ، حي، الرياض 12477<i class="fa fa-map-marker"></i></li>
            <li style="font-family:Verdana, Geneva, sans-serif;"> +966 50 011 1171 <i class="fa fa-phone"></i></li>
            <li style="font-family:Verdana, Geneva, sans-serif;"> 123 456 7890 <i class="fa fa-mobile"></i></li>
            <!-- <li style="font-family:Verdana, Geneva, sans-serif;"><i class="fa fa-fax"></i> 0146610202</li> -->
            <li style="font-family:Verdana, Geneva, sans-serif;">At Taawun, الدائري الشمالي ، حي، Riyadh 12477, Саудовская Аравия<i class="fa fa-inbox"></i> </li>
            <li style="font-family:Verdana, Geneva, sans-serif">  mail@mail.com  <i class="fa fa-envelope"></i></li>
            <li style="font-family:Verdana, Geneva, sans-serif">  saudialaw.com  <i class="fa fa-home"></i> </li>
          </ul>
        </div>
      </div>
<div class="clearfix"></div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 text-right">
        <h5 class="list-title mb-3">عنوان الروابط</h5>
        <ul class="footer-list">
          <li><a href="#">رابط ذيل بسيط</a></li>
          <li><a href="#">رابط ذيل بسيط</a></li>
          <li><a href="#">رابط ذيل بسيط</a></li>
          <li><a href="#">رابط ذيل بسيط</a></li>
          <li><a href="#">رابط ذيل بسيط</a></li>
        </ul>
      </div>
<!-- <div class="clearfix"></div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 text-right">
          <h5 class="list-title mb-3">عنوان الروابط</h5>
          <ul class="footer-list">
            <li><a href="#">رابط ذيل بسيط</a></li>
            <li><a href="#">رابط ذيل بسيط</a></li>
            <li><a href="#">رابط ذيل بسيط</a></li>
            <li><a href="#">رابط ذيل بسيط</a></li>
            <li><a href="#">رابط ذيل بسيط</a></li>
          </ul>
        </div> -->




<div class="clearfix"></div>

        </div>
      </div>
    </div>
  </div>
</footer>
<section id="copy" class="py-4 bg-white text-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
                      {{ mp_9.item_1}}
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          {{ mp_9.item_2}}
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          {{ mp_9.item_3}}
        </div>
      </div>
    </div>
</section>
