{% load staticfiles %}

<section id="home">
		<div class="menu bg-white position-fixed w-100">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6 text-center text-md-left">
						<div class="logo">
                            <a href="/"><img src="{% static 'img/logo.png' %}"></a>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 d-none d-md-flex flex-row justify-content-center align-items-center justify-content-md-end align-items-md-center ">
						<img src="{% static 'img/call.png' %}" class="phone-icon">
						<div class="phone-number">
						   8-800-500-555 <br>
						   8-800-500-555
						</div>
					</div>
				</div>
			</div>
		</div>
