<div class="slider">
  <div class="d-flex flex-column justify-content-end align-items-center h-100">
    <div class="container">
        <div class="col-md-8 col-lg-6 col-xs-6 col-sm-12 offset-md-4 offset-lg-6 new">
            <h2 class="title text-nowrap text-right md-mt-3 first font-weight-bold">المحامي عبدالجليل الخالدي</h2>
            <h4 class="title text-nowrap text-right pt-1 second">" تأكد من وضع قدمك بالمكان المناسب، لتكون ثابتا"</h4>
            <h5 class="title text-nowrap text-right third">  ابراهام لنكون&nbsp;&nbsp;&nbsp;&nbsp;</h5>
        </div>

      <div class="btn-wrapp d-flex flex-row justify-content-center align-items-end">
        <a href="#form" class="btn btn-home mr-2"> طلب استشارة </a>
        <a href="#description" class="btn btn-home"> من نحن </a>

      </div>
      <div class="reports w-100 p-3 text-center mt-3 w-100">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="report">
              <h2>{{ mp_2.vallue1 }}</h2>
              <span>{{ mp_2.tytle_1 }}</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="report">
              <h2>{{ mp_2.vallue2 }}</h2>
              <span>{{ mp_2.tytle_2 }}</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="report">
              <h2>{{ mp_2.vallue3 }}</h2>
              <span>{{ mp_2.tytle_3 }} </span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="report no-line">
              <h2>{{ mp_2.vallue4 }}</h2>
              <span>{{ mp_2.tytle_4 }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ribbon mt-1 mb-3 w-100">
      <marquee direction="right">
        {% for i in mp_3 %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ i.ticker_text }}
        {% endfor %}
      </marquee>
    </div>
  </div>
</div>
